.order-success-page{

min-height:100vh;

background:#f7f7f4;

}



.order-success-container{

max-width:900px;

margin:0 auto;

padding:60px 20px;

display:flex;

justify-content:center;

}





.success-card{

background:#ffffff;

border:1px solid #dedfd8;

border-radius:14px;

padding:50px 40px;

text-align:center;

width:100%;

}





.success-icon{

width:70px;

height:70px;

margin:0 auto 20px;

border-radius:50%;

background:#11120f;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-size:38px;

font-weight:700;

}





.success-card h1{

font-size:32px;

color:#11120f;

margin-bottom:12px;

}





.success-message{

color:#555750;

font-size:15px;

line-height:1.6;

max-width:550px;

margin:0 auto 30px;

}





.order-info-box{

border:1px solid #dedfd8;

border-radius:10px;

padding:20px;

display:flex;

justify-content:space-around;

gap:20px;

margin:30px 0;

background:#fafaf7;

}




.order-info-box div{

display:flex;

flex-direction:column;

gap:6px;

}



.order-info-box span{

font-size:13px;

color:#85877f;

}



.order-info-box strong{

font-size:16px;

color:#11120f;

}




.pending{

color:#b8860b;

}




.seller-message{

font-size:14px;

color:#555750;

margin-bottom:30px;

}





.success-actions{

display:flex;

justify-content:center;

gap:15px;

}





.primary-btn,
.secondary-btn{

padding:13px 28px;

border-radius:8px;

text-decoration:none;

font-size:14px;

font-weight:600;

transition:0.2s;

}





.primary-btn{

background:#11120f;

color:white;

}




.primary-btn:hover{

background:#000;

}





.secondary-btn{

border:1px solid #dedfd8;

color:#11120f;

background:white;

}



.secondary-btn:hover{

background:#f0f0eb;

}





@media(max-width:600px){


.order-success-card{

padding:35px 20px;

}


.order-info-box{

flex-direction:column;

}



.success-actions{

flex-direction:column;

}



.primary-btn,
.secondary-btn{

width:100%;

}



}